
@import url('reset.css');

body {
    background-color: black;
}

h2 {
    color: #33a8db;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

p {
    color: white;
}

section {
    margin: 100px auto; 
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(51, 168, 219, .3), rgba(0, 0, 0, 0.6)), url(/assets/images/banner.png);
    height: 605px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #33a8db;
    padding-top: 60px;
}

.banner .banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
}

.banner .logo {
    height: 260px;
    width: 260px;
    margin: auto;
    background-color: rgba(10, 10, 10, 0.6);
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .logo img {
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: contain;
}

.banner h1 {
    color: transparent;
    background: -webkit-linear-gradient(#33a8db, #1472b7);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2.7rem;
    font-weight: 900;
    text-transform: uppercase;
}

.banner p {
    margin: 16px 0 24px;
    font-size: 1.27rem;
}

.banner .banner-content button {
    padding: 16px 32px;
    color: #33a8db;
    background-color: transparent;
    border-image: linear-gradient(#3ba1cd, #1572b7);
    border-image-slice: 10;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#course-content {
    width: 800px;
    text-align: center;
}


#course-content .modules-list {
    margin: 24px 0;
}

#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33a8db;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, 0.7);
}

#course-content .modules-list .module span {
    color: #33a8db;
}

#transform-world {
    height: 560px;
    background-size: cover;
    background-image: url("../images/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid #33a8db;
    border-bottom: 1px solid #33a8db;
    padding: 200px;
}

#transform-world p {
    max-width: 250px;
    font-size: 2.7rem;
    font-weight: 900;
    text-transform: lowercase;
    text-shadow: 3px 2px #33a8db;
}

#professional-challenges {
    text-align: center;
    width: 800px;
}

#professional-challenges img {
    margin: 32px 0;
}

footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, 0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33a8db;
}

footer .dio-logo {
    width: 300px;
}

footer a {
    color: #33a8db;
    font-weight: bold;
    text-decoration: none;
}
